<form class="item" action="/" method="post">
    <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
    <button type="submit" name="button">+</button>
    <button type="submit" name="remove">-</button>
</form>