<%- include('header'); -%>
    <div class="box" id="heading">
        <h1> Groceries </h1>
    </div>
    <div class="box">
        <%for(var i = 0; i<groc.length; i++){%>
            <div class="item">
                <input type="checkbox">
                <p><%=groc[i]%></p>
            </div>
        <%}%>
        <%- include('button'); -%>
    </div>
<%- include('footer'); -%>