<%- include('header'); -%>
    <div class="box" id="heading">
        <h1> Groceries </h1>
    </div>
    <div class="box">
        <%for(var i = 0; i<groc.length; i++){%>
            <form action="/groceries" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" onchange="this.form.submit()" value="<%= groc[i]._id %>">
                    <p><%=groc[i].name%></p>
                </div>
            </form>
        <%}%>
        <form class="item" action="/groceries" method="post">
            <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
            <button type="submit" name="button">+</button>
            <button type="submit" name="remove">-</button>
        </form>
    </div>
<%- include('footer'); -%>